<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sitecore.SharedSource.Analytics.Properties.Settings.Sitecore_analyticsConnectionString1" connectionString="Data Source=localhost;Initial Catalog=Sitecore_analytics1;Persist Security Info=True;User ID=sitecoreuser" providerName="System.Data.SqlClient"/>
        <add name="Sitecore.SharedSource.Analytics.Properties.Settings.Sitecore_analyticsConnectionString" connectionString="Data Source=localhost;Initial Catalog=Sitecore_analytics;Persist Security Info=True;User ID=sitecoreuser;Password=#sitecore#" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
