<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="analytics:insertVariant" type="Sitecore.SharedSource.Analytics.CustomSitecore.Commands.InsertVariant,Sitecore.SharedSource.Analytics"/>
			<command name="analytics:runreport" type="Sitecore.SharedSource.Analytics.CustomSitecore.Commands.RunReport,Sitecore.SharedSource.Analytics"/>
		</commands>
		<clientscripts>
			<htmleditor>
				<script src="/sitecore modules/shell/analytics/controls/InsertMultiVariantLink/RichText.Commands.InsertMultiVariantLink.js" language="JavaScript"/>
			</htmleditor>
		</clientscripts>
		<settings>
			<!-- Debugging Settings -->
			<setting name="Analytics.Debugging.Enabled" value="true"/>
			<setting name="Analytics.Debugging.NewVisitEnabled" value="true"/>
			<setting name="Analytics.Debugging.FlushButtonEnabled" value="true"/>
			<!-- Report Logo -->
			<setting name="Analytics.Reports.Logo" value="" />
		</settings>
		<analytics>
			<!-- Variant Mappings are used to let Sitecore know what template to create for any variant -->
			<!-- Template Attribute: Content Template -->
			<!-- Variant Template Attribute: Variation Template -->

			<!-- Example -->
			<!--<VariantMapping template="{3F1BB13C-A187-4D90-B566-B7651766C8C8}" variantTemplate="{085A6A83-F618-4093-850B-14DEB0E781F8}" type="Advisory.ABC.Library.DMS.DailyBriefingMapping, Advisory.ABC.Library"/>-->
		</analytics>
	</sitecore>
</configuration>